/* All Common CSS Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}


/* All Common CSS End */

/* Header Part Start */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar{
    background: #160C6D;
}
.nav-link{
    color:#EFF4FA;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin: 0 30px;
    transition: .4s;
}
.nav-link:hover{
    color: #1BBF00;
}

.myButton{
    background: #1BBF00;
    padding: 15px 20px;
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    border-radius: 30px;
}
/* Header Part End */

/* Banner  Part Start */
#bannerPart{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 99;
    position: relative;
}
.bannerOverly{
    background: rgba(106, 98, 197, 0.867);
    padding-top: 130px;
    padding-bottom: 250px;
}
.bannerTextPart h1{
    font-size: 84px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #FAFAFE;
    line-height: 100px;
    margin-bottom: 40px;
}
.bannerTextPart p{
    font-size: 24px;
    font-weight: 400;
    font-family: "Paprika", system-ui;
    color: #E6E5F3;
    line-height: 40px;
    padding: 0 167px;
   
}
.bannerButton{
    margin-top: 30px;
    
}
.bannerButton a{
    font-size: 20px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #F9F9F9;
    border: 2px solid #1BBF00;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 0 15px;
   

}
.bannerButton a:hover{
    background: #1BBF00;
   

}
/* Banner  Part End */

/* Counter Part Start */
#counterPart{
    padding-bottom: 125px;
    /* padding-top: 120px; */
    background: #F9F9FB;
    
}
.img1{
    margin-top: -180px;
    position: absolute;
    z-index: 1; 
}
.img2{
    margin-top: -198px;
    position: absolute;
    z-index: 1;
}
.img3{
    margin-top: -113px;
    position: absolute;
    z-index: 1;
}
.img4{
    margin-top: -176px;
    position: absolute;
    z-index: 1;
    margin-left: -77px;
}
.counterText{
    padding-top: 400px;
}
.counterText h2{
    font-size: 64px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #1BBF00;
   

}
.counterText h3{
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #141135;
    padding-top: 30px;

}
/* Counter Part End */

/* WhyUS Part Start */
 #whyUsPart{
    padding-top: 100px;
    padding-bottom: 90px;
    background: #FDFDFD;
 }

 .whyUsLeft{
    display: flex;
    gap: 30px;
   padding: 25px 15px;

 }
 .whyUsLeft:hover{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
background: #ffff;
border-radius: 10px;
 }
 .whyUsLeft p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #726E9E;
    font-family: "Paprika", system-ui;
 }
 .whyUsRight h2{
    font-size: 48px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #141135;

 }
 .whyUsRight p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Paprika", system-ui;
    color: #726E9E;
    line-height: 30px;
    margin-bottom: 40px;
    padding-right: 127px;
    padding-top: 45px;

 }
/* WhyUS Part End */

/* WhatWeDo Part Start */
#whatWeDoPart{
    padding: 100px 0;
    background: #F6F5FF;
}
.whatWeDo h2{
    font-size: 48px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #141135;

}
.whatWeDo P{
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #6C7D93;
    line-height: 30px;
    margin-bottom: 60px;
    padding-right: 95px;
    padding-top: 40px;

}
.weDoItem{
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
background: #ffff;
border-radius: 20px;
padding: 50px 35px;
margin-bottom: 50px;
transition: .4s;

}
.weDoItem:hover{
    background: #6B62C5;
    color:#ffff;
}
.weDoItem h3{
    font-size: 30px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #141135;
    padding-top: 35px;
    /* padding-bottom: 20px; */


}

.weDoItem p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Paprika", system-ui;
    color: #726E9E;
    line-height: 30px;
    padding: 20px 33px;
    
}


.weDoButton{
    background: rgba(25, 191, 0, 0.759);
    padding: 13px 20px;
    color: #141135;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    border-radius: 30px;
}

/* WhatWeDo Part End */

/* Header Part Start */
/* Header Part End */

/* Header Part Start */
/* Header Part End */

/* Header Part Start */
/* Header Part End */

/* Header Part Start */
/* Header Part End */

/* Header Part Start */
/* Header Part End */

/* Header Part Start */
/* Header Part End */

/* Header Part Start */
/* Header Part End */


